@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{box-sizing: border-box;
    margin: 0;}
html{
    height: 100%;
}
:root{
    --negro-color:#191919;
    --blanco-color:#ffffff;
    --cafeoscuro-color: #572612;
    --cafemasoscuro-color: #301309;
    --amarillo-color: #F9D544;
  }
  header, body, footer{font-family: 'Baloo 2', cursive;}
.g-h1{
    color: var(--cafeoscuro-color);
    font-size: 32pt;
    text-align: center;
    margin: 0.3em auto;
}
.g-h3 a{
    text-decoration: none;
    color: var(--cafeoscuro-color);
}
.g-h3-centrado{
    font-size: 22pt;
    color: var(--cafeoscuro-color);
    text-align: center;
    margin-top: 1em;
}
.g-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: space-around;
}
.g-titulo-sec:hover{
    background-color:#f9d54463;
}
.g-menu h3:hover{
    background-color:#5a3c2b63;
}
.ave-pluma, .caballos-arena, .colibri, .flor-esferos,
.flor-aguada, .peces-acrilico, .rosas--oleo,
.manzana-oleo, .manzanas-oleo, .canasta-manzana, .arquitectura-oleo, .cabana, .casa-china, 
.cielos-oleo, .entrada-oleo,
.finca-oleo, .rio-oleo, 
.venecia-oleo,
.arq-pastel, .tigre, .jarron-rosa, .peces-pastel{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
}
/*
.arq-pastel{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: arq-pastel;
}
.ave-pluma{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: ave-pluma;
}
.caballos-arena{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: caballos-arena;
}
.cabana{
    width: 98%;
    cursor:grab;
    margin: 1rem 0.5rem;
    grid-area: cabana;
}
.casa-china{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: casa-china;
}
.cielos-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: cielos-oleo;
}
.colibri{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: colibri;
}
.entrada-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: entrada-oleo;
}
.flor-esferos{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: flor-esferos;
}
.flor-aguada{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: flor-aguada;
}
.jarron-rosa{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: jarron-rosa;
}
.jarron-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: jarron-oleo;
}

.arq-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: arq-oleo;
}
.finca-oleo-aguada{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: finca-oleo-aguada;
}
.finca-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: finca-oleo;
}
.manzanas-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: manzanas-oleo;
}
.milla{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: milla;
}
.peces-acrilico{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: peces-acrilico;
}

.peces-pastel{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: peces-pastel;
}
.rio-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: rio-oleo;
}
.rosas--oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: rosas--oleo;
}
.rosas-acrilico{
    width: 98%;
    cursor:grab;
    margin: 1rem 0.5rem;
    grid-area: rosas-acrilico;
}
.venecia-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: venecia-oleo;
}
.ventana-oleo{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem;
    grid-area: ventana-oleo;
}
.g-pics-left{
    display:grid;
    grid-template-areas: 
"arq-pastel"
"ave-pluma"
"caballos-arena"
"cabana"
"casa-china"
"cielos-oleo"
;
}*/
.g-container{
    height: auto;
    width: 80%;
    justify-content: center;
        display: grid;
        align-items: flex-start;
        grid-template-rows: auto ;
        margin: 0 auto;
}
.g-info-img{
    width: 98%;
    cursor:grab;
    margin: 1rem 1rem; 
}
.g-button{
    cursor:grab;
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/*---------------------------Modal--------------------------------------*/
.g-modal_picture{
    display: flex;
    height: auto;
    width: 100%;
    max-width: 100%;
   /* border: 3px solid green;*/
}
.g-cta{
    margin: 0 0;
    /*background-image: url(../assets/images/galeria/arq.\ -pastel\ seco\(lapiz\ y\ tiza\).jpeg);
    
    */background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    color: white;
    text-decoration: none;
    
    border-radius: 0;
    
}
.g-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(96, 96, 87, 0.6);
    display: flex;
    --opacity:0;
    --pointer: none;
    opacity:var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity 0.5s;
}
.g-modal:target{
    --opacity:1;
    --pointer: unset;
}
.g-modalContainer{
    margin: auto;
    background-color: #fff;
    width: 70vh;
    max-width: 600px;
    max-width: 90%;
    overflow: hidden;
    text-align:center;
    padding: 1.5rem 2em;
    border-radius: 1em;
}
.g-modalPicture img{
    width: 100%;
}

.g-modal:target .g-modal container{
    animation: show 1s 0.5 backwards
}
@keyframes show {
    0%{transform: translateY(-150px) ;}
    100%{transform: translateY(0);}
    
}
.g-modalPicture{
    width: 100%;
    margin: 0 0;
    
}
.g-modal:target .modalPicture {
    animation: scale 0.5s 1s backwards
}
@keyframes scale {
    0%{transform: scale(0);}
    
}
.g-modalImg{
    width: 100%;
    display: block;
}
.g-modalP{
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}
.g-modalP span{
    font-weight: lighter;
}
.g-modalClose{
    display: inline-block;
    color: #333;
    border-radius: 0.4em;
    border: 1px solid #3333;
    padding: 8px 8px;
    text-decoration: none;
    background-color:var(--amarillo-color);
    font-weight: 300;
    color: var(--cafeoscuro-color);
    border-radius: 0.4em;
    margin: 0 0.5em;
    
}
.g-closeModal{
    
    color: #333;
    border-radius: 0.4em;
    display: block;
    float: right;
}



/*---------------------------------header y nav bar-----------------------------------------------------------*/
#box-header{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.logo{
    display: flex;
    text-align: center;
    margin: 0px 20px;
}
.logo h1{
    font-family:'Dancing Script', cursive;
    color: var(--amarillo-color);
    font-size: 35px;
    text-shadow: 0px 0px 2px black;
}
.menu li{

    list-style: none;
    display: none;
}
.menu a{
    text-decoration: none;
    color: #301309;
}
.menu li, select{
    border: none;
    font-size: 14px;
}
.menu li input{
border-top: none; border-left: none; border-right: none;
border-bottom: 1px solid var(--cafemasoscuro-color);
width: 120px;

}
.menu li, input:focus{
    border: none;
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .item{
    display:flex;
    justify-content:flex-start;
}

.btn-menu{
    font-size: 1rem;
    cursor: pointer;
}



/*----------------------------------FOOTER ESTILOS-----------------------*/

footer{
   
    display: flex;
     width: 100vw;
     max-width: 100%;
     flex-direction: column; 
     width: max-content;
     color:var(--cafemasoscuro-color);
    background:rgb(221, 210, 210);
     opacity: 80%;
 }
 
 .footer-op{
     display: flex;
     flex-direction: column;
     width: 100vw;
     max-width: 100%;
     background-color: rgba(255,250,250, 70%);
 }
 
 #footer-con-info{
     display: flex;
     flex-direction: column;  
     align-items: center;
     margin-bottom: 15px;
     justify-content: space-evenly;
     width: 100%;
 }
 #footer-con-info h2{
     margin-block-start:5px;
     margin-block-end: 5px;
 }
 .footer-title{
     text-decoration: underline 1px #272727;
 }
 .footer-info{
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 #footer-form{
     display: flex;
     flex-direction: column;
     height: 50%;
 }
 .footer-form-input{
     padding-left: 5px;
     width: 180px;
     border: 0.5px solid #272727;
     margin-bottom: 5px;
 }
 #footer-con-info h2{
     font-size: 12px;
 }
 #footer-con-info p, li{
 font-size: 11px;
 }
 #footer-con-info a{
     text-decoration: none;
     color: var(--cafemasoscuro-color);
 }
 #footer-form textarea{
     padding-left: 5px;
 }
 .footer-contact-sm {
     text-align: center;
 }
 .btn-enviar{
     align-self:center;
     border-radius: 2px;
     margin-top: 3px;
     border: none;
     background-color:var(--amarillo-color);
     width: 70px;
     cursor:pointer;
 }
 @media screen and (min-width:700px){
  #footer-con-info{
         flex-direction: row;  
         align-items: baseline;
     }
     #footer-con-info p, li{
         font-size: 14px;
         }
 }
 @media screen and (min-width:1000px){
 #footer-con-info{
     display: flex;
     flex-direction:row;  
     align-items: center;
 }
 .footer-info{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 #footer-form{
     display: flex;
     flex-direction: column;
     height: 50%;
 }
 #footer-con-info h2{
     font-size: 16px;
 }
 #footer-con-info p, li{
     font-size: 16px;
     }
 }




/*------------------------------------------------tabletas*/
@media screen and (min-width:768px){  
    .g-pics-left{
        grid-area: g-pics-left;
        width: 95%;
        margin: 1em 1em;
    }
    .g-pics-right{
        grid-area: g-pics-right;
        width: 95%;
        margin: 1em 1em;
    }
    .g-pics-central-a{
        grid-area: g-pics-central-a;
        width: 95%;
        margin: 1em 1em;
    }
    /*.g-pics-left{
        display:grid;
        grid-template-areas: 
        "ave-pluma" 
        "caballos-arena"; 
    }
    
    .g-pics-central-a{
        display: grid;
        grid-template-areas:
        "colibri" 
        "flor-esferos"
    
    }
   
    .g-pics-right{
        display: grid;
        grid-template-areas:
        "rosas--oleo" 
        "rosas-acrilico"
        ;
        
    }*/
    .ave-pluma, .caballos-arena, .colibri, .flor-esferos,
.flor-aguada, .peces-acrilico, .rosas--oleo,
.manzana-oleo, .manzanas-oleo, .canasta-manzana, .arquitectura-oleo, .cabana, .casa-china, 
.cielos-oleo, .entrada-oleo,
.finca-oleo, .rio-oleo, 
.venecia-oleo,
.arq-pastel, .tigre, .jarron-rosa, .peces-pastel{
        align-self: center;
        width: 100%;
    }
    .g-container{
        justify-content: space-around;
        height: auto;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "g-pics-left g-pics-central-a g-pics-right";
    }
    .g-menu{
        flex-direction: row;
    }
.g-info-img{
    display: none;
}    
}
    

    /*media*/
    @media screen and (min-width:1024px){
        .g-container{
            justify-content: space-around;
        height: auto;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "g-pics-left g-pics-central-a g-pics-right";
        }     
    }

    /*macro*/
    @media screen and (min-width:1200px){
        html{
            background-color: var(--blanco-color);
        }
        .g-container{
            height: auto;
            grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto ;
            display: grid;            
            grid-template-areas: 
            "g-pics-left g-pics-central-a g-pics-right";
            margin: 0 auto;
        }  
        
        .g-modalPicture{
            width: 70%;
            margin: 0 50px;
            
        }
    }






















    
    /*-----------------------medias de header y footer--------------------*/
    @media screen and (min-width:700px)
    {
        /*------------------HEADER-----------------------*/
        #box-header{
            grid-template-columns: 30% 70%;
        }
        .menu{
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .menu li, select{
            border: none;
            font-size: 12px;
        }
        .logo h1{
            font-size: 60px;
            font-family: 'Dancing Script', cursive;
            }
            .btn-menu{
                display: none;
            }
        .menu li{
        width: 90vw;
        display:flex;
        justify-content:center;
        align-items: center;
        }
    /*------------------FOOTER-----------------------*/
        #footer-con-info{
            flex-direction: row;  
            align-items: baseline;
        }
        #footer-con-info p, li{
            font-size: 14px;
            }
    }
    
    @media screen and (min-width:1000px){
    /*------------------HEADER-----------------------*/
    .menu{margin-right: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        
    }
    .menu li, select{
       
        border: none;
        font-size: 15px;
    }
    .logo h1{
        font-size: 90px;
        text-shadow: 1px 1px 5px black;
        }
    .btn-menu{
            display: none;
        }
    .menu li{
     width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
        }
    }


        

 
