@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
:root{
    --negro-color:#191919;
    --blanco-color:#ffffff;
    --cafeoscuro-color:#572612;
    --cafemasocuro-color:#301309;
    --amarillo-color:#f9d544;
}

*{box-sizing: border-box;
margin: 0;
padding: 0;}

body{
    font-size: 16px;
    font-family: 'Baloo 2';
  
}

.login-fondo{
    background-image: url("../assets/images/login.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
} 
.icono-log {
    margin:10px;
}
.icono-log i{
font-size: 30px;
}
.log-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form{
   padding: 1rem;
    background-color: var(--cafemasocuro-color);
    color: var(--blanco-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
border-radius: 10px;
}
.login-input{
    width: 125%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

h2{margin-bottom: 1rem;
    color: white;
    font-weight: 600;
    font-size: 100%;
}

 input{
 color: var(--blanco-color);
 width:80% ;
 height: 12%;
 font-weight: 400;
 
}

::-webkit-input-placeholder{
    display: flex;
    text-align: center;
    color:var(--cafeoscuro-color);
    font-family: 'Baloo 2', cursive;
    font-weight: 300;
}

label{
    display: flex;
    text-align: left;
    font-weight: 500;
    color: var(--blanco-color);
}


.login-ingresar{
    border: 1px solid #3333;
    padding: 8px 8px;
    text-decoration: none;
    background-color: var(--amarillo-color);
    font-weight: 300;
    color: var(--cafeoscuro-color);
    border-radius: 0.4em;
    cursor: pointer;
}
.crea{
    margin-top: 10px;
}
.crea a{
    color: white;

}
.crea a:hover{
    color: var(--amarillo-color);
}

/*----------MEDIAS QUERYS ----------------------------*/

@media screen and (min-width: 700px) {
    .icono-log i{
        font-size: 40px;
        }
        h2{
            font-size: 150%;
        }
        .login-form{
        width: 60vw;}
}
@media screen and (min-width: 1000px) {
    .icono-log i{
        font-size: 50px;}
    h2{
        font-size: 180%;
    }
    .login-form{
        width: 40vw;}
}
@media screen and (min-width: 1650px) {
    .icono-log i{
        font-size: 50px;
        }
    h2{
        font-size: 180%;
    }
}
