
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/*rules : font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@1,100&display=swap');

:root{
    --negro-color:#191919;
    --blanco-color:#ffffff;
    --cafeoscuro-color:#572612;
    --cafemasoscuro-color:#301309;
    --amarillo-color: #F9D544; 
 }
*{    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo 2', cursive;
}
#box-header{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.logo{
    display: flex;
    text-align: center;
    margin: 0px 20px;
}
.logo h1{
    font-family:'Dancing Script', cursive;
    color:var(--amarillo-color);
    font-size: 35px;
    text-shadow: 0px 0px 2px black;
}
.menu li{

    list-style: none;
    display: none;
}
.menu a{
    text-decoration: none;
    color: #301309;
}
.menu li, select{
    border: none;
    font-size: 14px;
}
.menu li input{
border-top: none; border-left: none; border-right: none;
border-bottom: 1px solid var(--cafemasoscuro-color);
width: 120px;

}
.menu li, input:focus{
    border: none;
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .item{
    display:flex;
    justify-content:flex-start;
}

.btn-menu{
    font-size: 1rem;
    cursor: pointer;
}
/*Contenido Productos */
.p-titulo{
    color: var(--cafemasoscuro-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}
.p-titulo h1{
    font-size: 25px;
    color: var(--cafeoscuro-color);
}
.p-titulo h3{
    color: var(--cafeoscuro-color);
}
.p-container{
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}
/*-------------------------ESTILOS DE BANER-----------------------------------------------------*/
.p-baner-pinc{
    display: none;
    background-image: url(../assets/images/subproductos/presentacion/baner1.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.p-baner-esp{
    display: none;
    background-image: url(../assets/images/subproductos/presentacion//banerpinturas.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.p-baner-pint{
    display: none;
    background-image: url(../assets/images/subproductos/presentacion/banerpinturas2.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.p-baner-lien{
    display: none;
    background-image: url(../assets/images/subproductos/presentacion/banerlienzos.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
/*-----------------ESTILOS DE CARDS----------------------------------------*/
.p-card{
    width: 20em;
    padding: 5px;
    color: var(--negro-color);
    text-align: center;
}
.p-card a:hover{
color: rgb(102, 102, 102);
}
.p-card img{
    width: 100%;
}

/*El nonmbre de las clases de la card se dan con la inicial p (productos), card,y las iniciales del colo que corresponde*/
.p-card-acc{
    background-color: yellow;
}
.p-card-acc a{
    color: black;
    text-decoration: none;
}
.p-card-ac{
    background-color: #D18C00;
}
.p-card-ac a{
    color: black;
    text-decoration: none;
}
.p-card-azc{
    background-color: #031b79;
    color: white;
}
.p-card-bt a{
    color: black;
    text-decoration: none;
}
.p-card-azc a, .p-card-at a, .p-card-mag a, .p-card-nc a, .p-card-neg a, .p-card-rb a,  .p-card-vc a, .p-card-violeta a, .p-card-viocob a, .p-card-st a{
    color: white;
    text-decoration: none;
}
.p-card-at{
    background-color: #020135;
    color: white;
}
.p-card-mag{
    background-color: #6E1241;
    color: white;
}
.p-card-nc{
    background-color: #BF550B;
    color: var(--blanco-color);
}

.p-card-neg{
    background-color: black;
    color: var(--blanco-color);
}

.p-card-oro{
    background-color:#B38E2B;
}
.p-card-oro a{
    color: black;
    text-decoration: none;
}
.p-card-plata{
    background-color: rgb(168, 166, 166);
}
.p-card-plata a{
    color: black;
    text-decoration: none;
}
.p-card-rb{
    background-color: rgb(168, 0, 0);
    color: var(--blanco-color);
}

.p-card-st a{
    color: white;
    text-decoration: none;
}
.p-card-st{
    background-color: #502200;
    color: white;
}

.p-card-vc{
    background-color: #55943F;
}

.p-card-violeta{
    background-color: #380025;
    color: white;
}

.p-card-viocob{
    background-color:#1d0113 ;
    color: white;
}
.p-card-pinceles{
    background-color:#fffefe;
    color: var(--cafemasoscuro-color);
}
.p-card-pinceles a{
    color:var(--cafemasoscuro-color);
    text-decoration: none;
}
.p-card-espatulas{
    background-color: white;
    color: var(--cafemasoscuro-color);
}
.p-card-espatulas a{
color:var(--cafemasoscuro-color);
text-decoration: none;
}
.p-card-lienzos{
    color: var(--cafemasoscuro-color);
}
/*-------------------MODAL-------------------------------------------*/
.modal{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    --opacity:0;
    --pointer:none;
    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity 0.5s;
}
.modal:target{
    --opacity:1;
    --pointer:unset;
}
.modal:target .modalcontainer{
animation: show 1s 0.5s backwards;
}
@keyframes show {
    0%{
        transform: translateY(
            -150vh
        );
    }
    100%{
        transform: translateY(0);
    }
}

.modalcontainer{
    margin:auto;
    background-color:white;
    border: 1px solid var(--cafeoscuro-color);
    width: 90%;
    max-width: 300px;
    max-height: 100vh;
    padding: 1em 1.5em;
    border-radius: 1em;
    text-align: center;
}
.modalImg{
    width: 100%;
}
.modal:target .modalpicture{
    animation: scale 0.5s 1s backwards;
}
@keyframes scale {
    0%{
        transform: scale(0);
    }
}
.modalpicture{
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2em;
}
.modalTitle{
    font-size: 1rem;
    font-weight: 500;
}

.modalP{
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}
.modalClose{
    display: inline-block;
    border: 1px solid #3333;
    padding: 8px 8px;
    text-decoration: none;
    background-color:var(--amarillo-color);
    font-weight: 300;
    color: var(--cafeoscuro-color);
    border-radius: 0.4em;
}
.cerrarmodal{
    display: flex;
    justify-content: flex-end;
}
.cerrarmodal i{
    font-size: 20px;
    color: var(--cafeoscuro-color);
}
/*------------------------RESOLICION MEDIA ----------------------------------------*/
@media screen and  (min-width: 768px){
.p-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    justify-content: center;
}
.modalcontainer{
    width: 90%;
    max-width: 500px;
    max-height: 100%;
    padding: 2.5em 1.5em;
    }
}
.p-baner-pinc{
    display:block;
}
.p-baner-esp{
    display:none;
}
.p-baner-lien{
    display:none;
}
.p-baner-pint{
    display: none;
}
footer{
   
    display: flex;
     width: 100vw;
     max-width: 100%;
     flex-direction: column; 
     width: max-content;
     color:var(--cafemasoscuro-color);
    background:rgb(221, 210, 210);
     opacity: 80%;
 }
.footer-op{
     display: flex;
     flex-direction: column;
     width: 100vw;
     max-width: 100%;
     background-color: rgba(255,250,250, 70%);
 }
 
 #footer-con-info{
     display: flex;
     flex-direction: column;  
     align-items: center;
     margin-bottom: 15px;
     justify-content: space-evenly;
     width: 100%;
 }
 #footer-con-info h2{
     margin-block-start:5px;
     margin-block-end: 5px;
 }
 .footer-title{
     text-decoration: underline 1px #272727;
 }
 .footer-info{
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 #footer-form{
     display: flex;
     flex-direction: column;
     height: 50%;
 }
 .footer-form-input{
     padding-left: 5px;
     width: 180px;
     border: 0.5px solid #272727;
     margin-bottom: 5px;
 }
 #footer-con-info h2{
     font-size: 12px;
 }
 #footer-con-info p, li{
 font-size: 11px;
 }
 #footer-con-info a{
     text-decoration: none;
     color: var(--cafemasoscuro-color);
 }
 #footer-form textarea{
     padding-left: 5px;
 }
 .footer-contact-sm {
     text-align: center;
 }
 .btn-enviar{
     align-self:center;
     border-radius: 2px;
     margin-top: 3px;
     border: none;
     background-color:var(--amarillo-color);
     width: 70px;
 }

@media screen and (min-width: 900px){
    .p-container{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
        justify-content: center;
    }
    .modalcontainer{
        width: 90%;
        max-width: 600px;
        height: 120vh;
        padding: 1.5em 1.5em;
        }
        .modalTitle{
            font-size: 1.5rem;
            font-weight: 500;
        }
        .modal{
            position:absolute;
            top: 4em;}

}

@media screen and (min-width:700px){

 /*------------------HEADER-----------------------*/
 #box-header{
    grid-template-columns: 30% 70%;
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.menu li, select{
    border: none;
    font-size: 12px;
}
.logo h1{
    font-size: 60px;
    }
    .btn-menu{
        display: none;
    }
.menu li{
width: 90vw;
display:flex;
justify-content:center;
align-items: center;
}
/*------------------FOOTER-----------------------*/
    #footer-con-info{
           flex-direction: row;  
           align-items: baseline;
       }
       #footer-con-info p, li{
           font-size: 14px;
           }
   }
   @media screen and (min-width:1000px){

/*------------------HEADER-----------------------*/
.menu{margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.p-baner-pinc{
    display:block;
    height: 300px;
    width: 100%
    
}
.p-baner-esp{
    display:block;
    height: 300px;
    width: 100%
    
}
.p-baner-lien{
    display:block;
    height: 300px;
    width: 100%
    
}
.p-baner-pint{
    display:block;
    height: 300px;
    width: 100%
}
.menu li, select{
   
    border: none;
    font-size: 15px;
}
.logo h1{
    font-size: 90px;
    text-shadow: 1px 1px 5px black;
    }
.btn-menu{
        display: none;
    }
.menu li{
 width: 100vw;
display:flex;
justify-content: center;
align-items: center;
    }

   #footer-con-info{
       display: flex;
       flex-direction:row;  
       align-items: center;
   }
   .footer-info{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   #footer-form{
       display: flex;
       flex-direction: column;
       height: 50%;
   }
   #footer-con-info h2{
       font-size: 16px;
   }
   #footer-con-info p, li{
       font-size: 16px;
       }
   }
