@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/*rules : font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* rules : font-family: 'Poppins', sans-serif;*/
*{
    box-sizing: border-box;
    font-family: 'Poppins'; 
    margin: 0;
    padding: 0;
}

:root{
   --negro-color:#191919;
   --blanco-color:#ffffff;
   --cafeoscuro-color:#572612;
   --cafemasoscuro-color:#301309;
   --amarillo-color: #F9D544; 
}
/*------------------HEADER-----------------------*/
#box-header{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.logo{
    display: flex;
    text-align: center;
    margin: 0px 20px;
}
.logo h1{
    font-family:'Dancing Script', cursive;
    color: var(--amarillo-color);
    font-size: 35px;
    text-shadow: 1px 1px 5px black;
}
.menu li{

    list-style: none;
    display: none;
}
.menu a{
    text-decoration: none;
    color: #301309;
}
.menu li, select{
    border: none;
    font-size: 14px;
}
.menu li input{
border-top: none; border-left: none; border-right: none;
border-bottom: 1px solid var(--cafemasoscuro-color);
width: 120px;

}
.menu li, input:focus{
    border: none;
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .item{
    display:flex;
    justify-content:flex-start;
}

.btn-menu{
    font-size: 1rem;
    cursor: pointer;
}
/*------------------SLIDER-----------------------*/
#slider{
    margin:0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;

}
#slider input[type=radio]{
    display: none;
}
#slider label{
    cursor: pointer;
}

#slider1:checked ~ #slides .inner {
margin-left: 0;
}
#slider2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slider3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slider4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slides .inner{
    width:400%; /*Esta medida epende de la cantidad de slides que tengo, en este caso son 4 por eso es 400%*/
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-left 1.4s cubic-bezier(.19,.67,.83,.67) ;

}
#slides .slide{
    width: 100%;/*Esta medida epende de la cantidad de slides que tengo, en este caso son 4 a si que los manejo por un 25%*/
    height: 100%;
}

/*Ahora personalizamos cada slide*/
#slides .slide_1{
    background-image: url(../assets/images/baner1.png);
}
#slides .slide_2{
    width: 100%;
    background-color: blueviolet;
}
#slides .slide_3{
    background-color: rgb(171, 226, 43);
}
#slides .slide_4{
    background-color: rgb(202, 25, 122);
}


.controles{
    width:50px;
    height: 50px;
    display: none;
}
.bullets{
    display: flex;
text-align: center;
justify-content: center;
align-items: center;

}
.bullets label{
    padding: 5px;
    width:10px;
    height: 10px;
    background-color: blue;
    margin: 1rem;
    border-radius: 100%;
}
#slider1:checked ~ .bullets label:nth-child(1),
#slider2:checked ~ .bullets label:nth-child(2),
#slider3:checked ~ .bullets label:nth-child(3),
#slider4:checked ~ .bullets label:nth-child(4){
    background-color: rgb(139, 137, 167);
}
/*------------------FOOTER-----------------------*/
footer{
   
   display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: column; 
    width: max-content;
    color:var(--cafemasoscuro-color);
   background:rgb(221, 210, 210);
    opacity: 80%;
}

.footer-op{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(255,250,250, 70%);
}

#footer-con-info{
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-evenly;
    width: 100%;
}
#footer-con-info h2{
    margin-block-start:5px;
    margin-block-end: 5px;
}
.footer-title{
    text-decoration: underline 1px #272727;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-form{
    display: flex;
    flex-direction: column;
    height: 50%;
}
.footer-form-input{
    width: 170px;
    border: 0.5px solid #272727;
    margin-bottom: 5px;
}
#footer-con-info h2{
    font-size: 12px;
}
#footer-con-info p, li{
font-size: 11px;
}
#footer-con-info a{
    text-decoration: none;
    color: var(--cafemasoscuro-color);
}
.footer-contact-sm {
    text-align: center;
}
.btn-enviar{
    border: none;
    background-color:var(--amarillo-color);
}
@media screen and (min-width:700px)
{
    /*------------------HEADER-----------------------*/
    #box-header{
        grid-template-columns: 30% 70%;
    }
    .menu{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .menu li, select{
        border: none;
        font-size: 12px;
    }
    .logo h1{
        font-size: 60px;
        }
        .btn-menu{
            display: none;
        }
    .menu li{
    width: 90vw;
    display:flex;
    justify-content:center;
    align-items: center;
    }
/*------------------FOOTER-----------------------*/
    #footer-con-info{
        flex-direction: row;  
        align-items: baseline;
    }
    #footer-con-info p, li{
        font-size: 14px;
        }
}
@media screen and (min-width:1000px){
/*------------------HEADER-----------------------*/
.menu{margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.menu li, select{
   
    border: none;
    font-size: 15px;
}
.logo h1{
    font-size: 90px;
    }
.btn-menu{
        display: none;
    }
.menu li{
 width: 100vw;
display:flex;
justify-content: center;
align-items: center;
    }
/*------------------FOOTER-----------------------*/
#footer-con-info{
    display: flex;
    flex-direction:row;  
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-form{
    display: flex;
    flex-direction: column;
    height: 50%;
}
#footer-con-info h2{
    font-size: 16px;
}
#footer-con-info p, li{
    font-size: 16px;
    }

}